.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.line {
  display: flex
}

.squareBase {
  position: relative;
  //transition-property: opacity;
  display: flex;
  justify-content: center;
  align-items: center;
    .layout {
      position: absolute;
      width: 52px;
      height: 52px;
      opacity: 0;
      z-index: 3;
      //background: green;
      transition: 1s ease-in-out;
      &__move {
        background: linear-gradient(45deg, rgb(3, 105, 83), rgb(2, 233, 2));
      }
      &__attack {
        background: linear-gradient(45deg, rgb(97, 18, 73), rgb(255, 0, 55));
      }
      &__spell {
        background: linear-gradient(45deg, rgb(153, 58, 153), rgb(11, 137, 175));
      }
      &__show {
        opacity: 0.44;
      }
    }
  &__toUp {
    z-index: 10;
  }
}

.flyUnit{
  position: absolute;
  color: white;
  z-index: 3;
  top: 8;
  right: 13;
}
//use hereMixin for Tabs = and +
@mixin nook($fBoard, $fArg, $sBoard, $sArg, 
$display: block, 
$alignItems: center, 
$flexDir: row, 
$jC: center
) {
  z-index: 2;
  position: absolute;
  #{$fBoard}: $fArg;
  #{$sBoard}: $sArg;
  @if $display != block {
    display: $display;
    flex-direction: $flexDir;
    align-items: $alignItems;
    justify-content: $jC;
  }

}
.game {
  position: relative;
  //margin-right: -100vw;
  width: 100vw;
  height: 100vh;
  margin-right: -100%;
  &__rightTab {
    @include nook(bottom, 50, right, 50, $display: flex, $flexDir: column);
    .energyBar {
      margin-bottom: 10px;
      background-color: DarkCyan;
      color: cyan;
      font-size: 22px;
      font-weight: 500;
      padding: 10px 30px;
      border-radius: 10px;
    }
  }
  &__upLeftTab {
    @include nook(top, 50, left, 50);
  }
  &__topRightTab {
    @include nook(top, 50, right, 50);
  }
  &__bottomLeftTab {
    @include nook(bottom, 50, left, 50);
  }
  // &__hidden {
    
  // }
}

.actionBar {
  width: fit-content;
  height: fit-content;
  display: flex;
}