.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &__rightTab {
    position: absolute;
    bottom: 50;
    right: 50;
  }
}

.line {
  display: flex
}

.squareBase {
  position: relative;
  transition-property: opacity;
    
  &__toUp {
    z-index: 10;
  }
}

.flyUnit{
  position: absolute;
  color: white;
  z-index: 2;
  top: 8;
  right: 13;
}