.signIn {
  width: 100vw;
  height: 100vh;
  background-color: rgba(199, 199, 199, 0.438);
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    min-width: 300px;
    margin: 0 !important;
  }
  &__workArea {
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px grey;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    input {
      margin: 10px;
    }
  }
  &__header {
    h2 {
      color: royalblue;
    }
    p {
      color: black;
    }
    margin-bottom: 20px;
  }
}