.knight {
  position: relative;
  font-size: 25px;
  cursor: pointer;
  z-index: 4;
  //position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s ease-in-out 0.3s;
  .buttleButton {
    cursor: pointer;
    font-size: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__attack {
      position: absolute;
      background: red;
      top: 9;
      right: -20;
    }
    &__spell {
      background: rgb(114, 61, 153);
      margin: 0 10px;

    }
  }
  &__isPartner {
    color: red;
    cursor: default;
  }
  .spellArea {
    position: absolute;
    top: 33;
    right: -7;
    display: flex;
    justify-content: space-between;
  }
  .heart {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -20px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: crimson;
    z-index: 3;
  }
  // .mainSimbol {
  //   opacity: 1;
  //   // transition: 1s ease-in-out;
  //   // transition-property: opacity;
  //   // &__goToShadow {
  //   //   opacity: 0;
  //   // }
  // }
}