.knight {
  position: relative;
  font-size: 25px;
  cursor: pointer;
  z-index: 4;
  .buttleButton {
    cursor: pointer;
    font-size: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__attack {
      position: absolute;
      background: red;
      top: 9;
      right: -20;
    }
    &__spell {
      background: rgb(114, 61, 153);
      margin: 0 10px;

    }
  }
  &__isPartner {
    color: red;
    cursor: default;
  }
  .spellArea {
    position: absolute;
    top: 33;
    right: -7;
    display: flex;
    justify-content: space-between;
  }

}