$water: #0095B6; // 0	149	182
$greene: #177245; // 23	114	69 move 
$deepred: #8B0000; // 139 0	0 attack

$karmin: #96003e; // 150 0	24 
$indigo: #4B0082; // 75	0	130 spell 

$supermarin-blue: #20214F; // 32	33	79
$signal-blue: #1E2460; // 30	36	96
$midnight-black: #191970; // 25	25	112