.square {
  width: 52px;
  height: 52px;
  border: 2px solid gold;
  background: #00BFFF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  &__isLight {
    background: rgb(139, 226, 255);
  }
  &__red {
    border: 2px solid red;
  }
  &__yellow {
    border: 2px solid rgb(176, 255, 30);
  }
  &__green {
    border: 2px solid green;
  }
}